<ul class="navbar">
  <a routerLink="/home" routerLinkActive="activado">Home</a>
  <a routerLink="/news" routerLinkActive="activado">News</a>
  <a routerLink="/contact" routerLinkActive="activado">Contact</a>
  <a routerLink="/about" routerLinkActive="activado">About</a>
  <a routerLink="/deuda" routerLinkActive="activado">Debts</a>
  <a routerLink="/celsius" routerLinkActive="activado">celsius</a>
  <a routerLink="/lazy" routerLinkActive="activado">LazyModule</a>
</ul>
